.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    padding-left: 100px;
}

.container input{
    width: 60%;
}