*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: rgb(252, 243, 243);
    font-weight: bold;

}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #f6e2dd;
}


