/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
}

h1,h2 {
    font-weight: bold;
    margin: 20px;
}

h1,main {
    padding: 0 30px;
}
.Link {
    display: flex; 
    justify-content: center;
    background-color: #ec505f;
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px;
    margin: 10px;
}

form{
    margin: 20px;
}

